body {
	font-family: "Microsoft YaHei", "裏罷囘菜", "Microsoft JhengHei", STHeiti,
		MingLiu;
	font-size: 12px;
}

a, a:hover {
	color: #c19f7b;
}

/*********************************/

/*********************************/
.ycbase_img_ycico {
	background-image: url("../image/ycico.png");
	background-repeat: no-repeat;
}

.ycbase_h_14 {
	height: 14px;
}

.ycbase_h_30 {
	height: 30px;
}

.ycbase_header_layout {
	min-width: 1100px;
	background-color: #522d2c;
	height: 112px;
}

.ycbase_header_layout .c_box {
	width: 1100px;
	margin: auto;
	position: relative;
}

.ycbase_header_layout .c_logo {
	float: left;
	width: 150px;
	height: 100px;
	background-position: 0px 0px;
}

.ycbase_header_layout .c_nav {
	margin-left: 200px;
	height: 112px;
	width: 550px;
	float: left;
}

.ycbase_header_layout .c_nav_h {
	height: 60px;
}

.ycbase_header_layout .c_nav ul li {
	padding: 0px 16px 0px 16px;
	border-right: solid 1px #725042;
	font-size: 14px;
	font-weight: bold;
}

.ycbase_header_layout  .c_nav ul .c_nav_last {
	border-right: none;
}

.ycbase_header_layout .c_right {
	width: 182px;
	float: right;
	height: 112px;
}

.ycbase_header_layout  .c_user {
	color: #a28972;
	position: absolute;
	top: 14px;
	right: 10px;
}

.ycbase_header_layout  .c_user .c_button {
	background-position: -200px 0px;
	width: 70px;
	float: left;
	height: 25px;
	color: #4c2b2a;
	text-indent: 15px;
	line-height: 20px;
}

.ycbase_header_layout  .c_user  .c_button a {
	color: #4c2b2a;
}

.ycbase_header_layout .c_right .c_search {
	background-position: -300px 0px;
	height: 30px;
	width: 100%;
	color: #7c6455;
}

.ycbase_header_layout .c_right .c_search input::-webkit-input-placeholder
	{
	　　color: #7c6455 !important; /* WebKit browsers /
　　}
.ycbase_header_layout .c_right .c_search input:-moz-placeholder {
　　color: #7c6455 !important; / Mozilla Firefox 4 to 18 /
　　}
.ycbase_header_layout .c_right .c_search input::-moz-placeholder {
　　color: #7c6455 !important; / Mozilla Firefox 19+ /
　　}
.ycbase_header_layout .c_right .c_search input:-ms-input-placeholder {
　　color: #7c6455 !important; / Internet Explorer 10+ */
	　　
}

.ycbase_header_layout .c_right .c_input {
	background-color: #4d2b29;
	border: none;
	color: #7c6455;
	height: 28px;
	text-indent: 5px;
}

.ycbase_header_layout .c_right .c_target {
	padding: 5px 0px 7px 40px;
	cursor: pointer;
}

.ycbase_footer_layout {
	min-width: 1100px;
	background-color: #522d2c;
	height: 124px;
}

.ycbase_footer_layout .c_box {
	width: 1100px;
	margin: auto;
}

.ycbase_footer_layout .c_left {
	float: left;
}

.ycbase_footer_layout .c_right {
	float: right;
}

.ycbase_footer_layout .c_info {
	color: #7d6a56;
	text-indent: 16px;
}

.ycbase_footer_layout .c_nav ul li {
	padding: 0px 16px 0px 16px;
	border-right: solid 1px #725042;
	font-size: 14px;
	font-weight: bold;
}

.ycbase_footer_layout .c_nav ul li a {
	color: #a68c71;
}

.ycbase_footer_layout  .c_nav ul .c_nav_last {
	border-right: none;
}

.ycbase_footer_layout .c_qrcode {
	background-position: -500px 0px;
	width: 100px;
	height: 80px;
}

.ycbase_body_show_layout {
	background-color: #f8f7f5;
}

.ycbase_body_box_layout {
	width: 1100px;
	margin: auto;
}

.ycbase_body_back_layout {
	background-color: #fff;
}

.ycbase_body_nav_box .c_icon {
	background-position: -600px 0px;
	height: 15px;
	width: 30px;
	float: left;
}

.ycbase_body_nav_box .c_link {
	float: left;
	line-height: 15px;
}

.ycbase_body_nav_box, .ycbase_body_nav_box a {
	color: #8d8682;
}

.yccomment_box {
	
}

.yccomment_box_info {
	border-top: solid 1px #f2eeee;
}

.yccomment_box_label {
	height: 60px;
	line-height: 60px;
	color: #b5a08b;
	font-weight: bold;
	font-size: 14px;
}

.yccomment_box_item {
	color: #919191;
	line-height: 25px;
	padding: 10px 0px 15px 0px;
	border-bottom: solid 1px #e1e1e1;
}

.yccomment_box_item span {
	color: #a8a4a1;
	padding-left: 30px;
}

.yccomment_box_none {
	border-top: solid 1px #efeeed;
	border-bottom: solid 1px #efeeed;
	background-color: #fcfbf9;
	line-height: 50px;
	text-align: center;
	font-size: 14px;
	color: #919191;
}

.yccomment_box_add {
	border: solid 1px #dfd9d3;
}

.yccomment_box_add textarea {
	border: none;
	width: 100%;
	min-height: 100px;
}

.yccomment_box_add_footer {
	padding: 8px 20px 8px 0px;
	text-align: right;
	border-top: solid 1px #dfd9d3;
}

.yccomment_box_add_footer .yccomment_box_login_btn {
	background-color: #c1946b;
}

.yccomment_box_login {
	height: 150px;
	border: solid 1px #dcdad8;
}

.yccomment_box_login_text {
	height: 100px;
	border-bottom: solid 1px #dcdad8;
	text-align: center;
	padding-top: 40px;
	color: #7b7676;
	font-size: 14px;
}

.yccomment_box_login_text a {
	color: #a9876a;
	font-weight: bold;
}

.yccomment_box_login_footer {
	padding: 8px 20px 0px 0px;
	text-align: right;
}

.yccomment_box_login_btn {
	width: 80px;
	height: 30px;
	border: none;
	color: #fff;
}

.yccomment_box_login_footer .yccomment_box_login_btn {
	background-color: #e9e7e5;
}

.yctop_h1 {
	color: #5f4e44;
	font-size: 24px;
	font-weight: bold;
	margin: 0px;
}

.yctop_h1 a {
	color: #5f4e44;
}

.yctop_desc {
	color: #a5a3a1;
}

.yctop_hr {
	color: #f9f7f7;
}

.yctop_info {
	color: #604c40;
}

.yctop_price {
	color: #8e1713;
}

.yctop_subtitle {
	color: #5e5a57;
	background-position: -200px -60px;
	width: 240px;
	height: 32px;
	font-size: 14px;
	font-weight: bold;
}

.yctop_subinfo ul {
	margin: 0px;
	padding: 0px;
}

.yctop_subinfo ul li {
	color: #d4d0ce;
	height: 30px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.yctop_subinfo ul li a {
	color: #5e5a57;
	line-height: 30px;
	height: 30px;
}

.yctop_c_5 {
	color: #544e49;
}

.yctop_c_7 {
	color: #787674;
}

.yctop_c_af {
	color: #af874d;
}

.yctop_c_75 {
	color: #752524;
}

.yctop_table {
	width: 100%;
}

.yctop_table tr th {
	text-align: center;
	padding: 5px;
	line-height: 40px;
}

.yctop_table tr {
	border-bottom: solid 1px #e6e8e9;
}

.yctop_table tr td {
	text-align: center;
	padding: 10px;
	word-break: break-all;
}

.yctop_table tbody tr:hover {
	background-color: #f6f1eb;
	cursor: pointer;
}

.yctop_pagenav {
	text-align: center;
}

.yctop_pagenav ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.yctop_pagenav ul li {
	float: left;
	padding-right: 6px;
}

.yctop_pagenav ul li a {
	padding: 10px 16px;
	border: solid 1px #dbd9d8;
	color:#473f3a;
	text-decoration: none;
}
.yctop_pagenav ul li.c_disabled a
{
	background-color:#f8f8f8;
}
.yctop_pagenav ul li.c_active a,.yctop_pagenav ul li.c_item a:hover {
	background-color: #c5a686;
	color:#fff;
}


.yctop_pagenav_box {
	margin: auto;
}

.ycsite_index_main {
	width: 100%;
	min-width: 1100px;
}

.ycsite_index_main img {
	width: 100%;
	height: 800px;
}

.ycsite_index_main img {
	width: 100%;
	height: 800px;
}

.ycsite_index_main .carousel-indicators li {
	border: 1px solid #88725d;
}

.ycsite_index_main  .carousel-indicators .active {
	background-color: #88725d;
}

.ycsite_nl_box .c_item {
	width: 260px;
	margin-right: 14px;
	margin-bottom: 20px;
	float: left;
}

.ycsite_nl_box .c_box {
	border: solid 1px #ebe9e4;
	background-color: #fff;
	line-height: 24px;
	color: #a8a4a1;
}

.ycsite_nl_box .c_padding {
	padding: 15px 15px 20px 15px;
}

.ycsite_nl_box .c_box a {
	color: #5f4e44;
	line-height: 20px;
	font-size: 14px;
	font-weight: bold;
}

.ycsite_nl_box .c_box img {
	width: 100%;
}

.ycsite_nl_box .c_footer {
	height: 50px;
	border-top: solid 1px #f2f1f1;
	background-color: #fbfbfb;
	padding-top: 12px;
}

.ycsite_nl_box .c_share {
	background-position: -600px -30px;
	height: 20px;
	width: 100%;
	line-height: 20px;
	text-indent: 175px;
}

.ycsite_ni_box {
	overflow: hidden;
	position: relative;
}

.ycsite_common_info_left {
	width: 795px;
	float: left;
	padding: 0px 55px 50px 28px;
	border-right: solid 1px #f6f6f6;
}

.ycsite_common_info_right {
	float: right;
	padding: 30px 28px 0px 0px;
	width: 268px;
}

.ycsite_al_box {
	
}

.ycsite_al_box .c_item {
	position: relative;
}

.ycsite_al_box .c_icon {
	position: absolute;
	top: 0px;
	left: 15px;
}

.ycsite_al_box .c_month {
	background-position: 0px -100px;
	height: 80px;
	width: 52px;
}

.ycsite_al_box .c_month .c_num {
	font-weight: bold;
	padding-top: 6px;
	text-align: center;
	color: #fff;
}

.ycsite_al_box .c_month .c_num span {
	font-size: 24px;
}

.ycsite_al_box .c_month .c_year {
	padding-top: 3px;
	color: #7d7d7d;
	text-align: center;
}

.ycsite_al_box .c_info {
	margin-left: 40px;
	border-left: solid 2px #e2e1e1;
}

.ycsite_al_box .c_border {
	height: 100%;
	border: solid 1px #f2f0f0;
	width: 950px;
	margin-left: 60px;
	padding: 16px 12px 16px 12px;
	color: #6e5c52;
}

.ycsite_al_box .c_p_border {
	border-bottom: solid 1px #f2f0f0;
	width: 950px;
	margin-left: 60px;
}

.ycsite_al_box .c_p_border .c_p_image {
	height: 235px;
	overflow: hidden;
}

.ycsite_al_box .c_p_border .c_p_image img {
	width: 235px;
}

.ycsite_al_box .c_title a {
	color: #6e5c52;
	font-size: 18px;
	font-weight: bold;
}

.ycsite_al_box .c_image {
	height: 180px;
	overflow: hidden;
}

.ycsite_al_box .c_image img {
	width: 100%;
}

.ycsite_al_box .c_bot {
	position: absolute;
	top: 0px;
	left: 15px;
}

.ycsite_al_box .c_last {
	width: 52px;
	height: 65px;
	background-position: -100px -100px;
	color: #fff;
	font-size: 16px;
	padding-top: 23px;
	text-align: center;
	font-weight: bold;
	line-height: 16px;
}

.ycsite_al_box .c_line {
	border-top: solid 1px #f2f2f2;
	border-bottom: solid 1px #f2f2f2;
	height: 5px;
	width: 950px;
	margin-left: 60px;
}

.ycsite_al_box .c_cat {
	position: absolute;
	top: 22px;
	left: 530px;
	background-color: #fff;
	width: 120px;
	height: 30px;
	text-align: center;
	color: #dadada;
	font-size: 16px;
	font-weight: bold;
}

.ycsite_al_box .c_buy {
	position: absolute;
	top: 20px;
	left: 27px;
	width: 20px;
	height: 25px;
	background-position: -180px -100px;
}

.ycsite_sl_box {
	
}

.ycsite_sl_box .c_box {
	padding: 0px 70px 0px 70px;
}

.ycsite_sl_box .c_line {
	border-bottom: solid 1px #f0ebeb;
}

.ycsite_sl_box .c_desc {
	font-size: 13px;
	color: #6e5c52;
}

.ycsite_sl_box .c_desc span {
	padding-left: 30px;
}

.ycsite_sl_box .c_aucimg {
	max-height: 200px;
	overflow: hidden;
}

.ycsite_sl_box .c_aucimg img {
	width: 100%;
}

.ycsite_sl_box .c_left {
	width: 236px;
	float: left;
}

.ycsite_sl_box .c_left img {
	width: 100%;
}

.ycsite_sl_box .c_right {
	float: left;
	margin-left: 30px;
}

.ycsite_gl_top .c_back {
	height: 80px;
	background-color: #fcfcfc;
}

.ycsite_sl_box .c_title a {
	color: #5f5b58;
	font-size: 20px;
	font-weight: bold;
}

.ycsite_sl_box .c_fix {
	color: #544e49;
	line-height: 30px;
	font-size: 14px;
}

.ycsite_gl_show .c_item {
	width: 265px;
	height: 392px;
	float: left;
	overflow: hidden;
	border-right: solid 1px #f0ebeb;
}

.ycsite_gl_show .c_last {
	border-right: none;
}

.ycsite_gl_show .c_border {
	border-top: solid 1px #f0ebeb;
	padding: 0px 14px;
	color: #544e49;
}

.ycsite_gl_show .c_image {
	width: 228px;
	overflow: hidden;
	height: 228px;
	  border-radius: 15px;
}

.ycsite_gl_show .c_image img {
	width: 228px;
}

.ycsite_gl_show .c_border  .c_box {
	padding: 17px;
}

.ycsite_gl_show .c_title a {
	color: #544e49;
	font-szie: 14px;
	font-weight: bold;
	line-height: 40px;
}

.ycsite_gl_show .c_detail {
	line-height: 25px;
}

.ycsite_gl_top .c_back {
	padding-top: 27px;
	text-indent: 32px;
	border-bottom: solid 1px #ebebeb;
}

.ycsite_gl_top .c_img {
	max-height: 300px;
	overflow: hidden;
	  border-radius: 25px;
}

.ycsite_gl_top .c_img img {
	width: 100%;
}

.ycsite_gi_box .c_box {
	padding: 30px;
}

.ycsite_gi_box .c_nav {
	height: 90px;
}

.ycsite_gi_box .c_nav div {
	height: 90px;
	float: left;
}

.ycsite_gi_box .c_nav .c_click {
	width: 130px;
	background-position: -300px -100px;
	text-align: center;
	line-height: 17px;
	padding: 10px;
}

.ycsite_gi_box .c_nav .c_click a {
	color: #a9a4a1;
}

.ycsite_gi_box .c_nav .c_click .c_click_label {
	color: #6f2624;
	font-weight: bold;
	line-height: 23px;
}

.ycsite_gi_box .c_nav .c_select {
	width: 760px;
	background-color: #e4e0d1;
	margin-left: 10px;
	margin-right: 10px;
}

.ycsite_gi_box .c_nav .c_select_to {
	width: 30px;
	background-color: #cac6bc;
	color: #fff;
	font-size: 40px;
	line-height: 90px;
	text-align: center;
}

.ycsite_gi_box .c_nav .c_select_to a {
	color: #fff;
}

.ycsite_gi_box .c_nav .c_select_active {
	background-color: #c19f7b;
}

.ycsite_gi_box .c_nav .c_select_item {
	width: 114px;
	padding: 6px 0px 6px 10px;
}

.ycsite_gi_box .c_nav .c_select_image {
	overflow: hidden;
	width: 103px;
	height: 76px;
	border: solid 1px #c8c6c5;
}

.ycsite_gi_box .c_nav  .c_select_right {
	float: right;
}

.ycsite_gi_box .c_img {
	width: 1040px;
	height: 1040px;
	overflow: hidden;
	position: relative;
}

.ycsite_gi_box .c_img img {
	width: 100%;
}

.ycsite_gi_box .c_center {
	background-color: #fcfcfc;
}

.ycsite_gi_box .c_name {
	padding-top: 17px;
	text-indent: 32px;
	border-bottom: solid 1px #ebebeb;
	border-top: solid 1px #ebebeb;
	height: 60px;
}

.ycsite_gi_box .c_bb {
	border-bottom: solid 1px #ebebeb;
}

.ycsite_gi_box .c_center {
	color: #544e49;
	line-height: 24px;
}

.ycsite_gi_box .c_center a {
	color: #544e49;
}

.ycsite_gi_box .c_c_left {
	width: 760px;
	float: left;
	border-right: solid 1px #ebebeb;
}

.ycsite_gi_box .c_c_right {
	width: 240px;
	float: right;
}

.ycsite_gi_box .c_auction a {
	color: #544e49;
	font-size: 14px;
	font-weight: bold;
	line-height: 25px;
}

.ycsite_gi_box .c_bottom {
	padding: 30px;
}

.ycsite_pel_box .c_item {
	float: left;
	width: 275px;
	padding: 14px;
	
}

.ycsite_pel_box .c_item .c_box
{
	position:relative;
}

.ycsite_pel_box .c_image {
	width: 245px;
	height: 206px;
	overflow: hidden;
}

.ycsite_pel_box .c_image img {
	width: 100%;
}

.ycsite_pel_box .c_act {
	border-bottom: solid 1px #ececec;
	color: #5f4e44;
	font-size: 16px;
	line-height: 40px;
}



.ycsite_pel_box .c_item .c_pos
{
	background-color:#000;
	position:absolute;
	top:165px;
	width:245px;
	height:40px;
	color:#fff;
	text-align:center;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	
}

.ycsite_pel_box .c_item .c_pzin
{position:absolute;
	top:165px;
	width:245px;
	height:40px;
	color:#fff;
	text-align:center;
}



.ycsite_pel_box .c_item .c_pzin a {
	
	color: #fff;
	font-size: 16px;
	line-height: 40px;

	}


.ycsite_pg_info {
	
}

.ycsite_pg_info .c_info {
	padding: 30px;
}

.ycsite_pg_info .c_info .c_left {
	float: left;
	width: 295px;
}

.ycsite_pg_info .c_info .c_right {
	float: right;
	width: 745px;
	color: #6e5c52;
	font-size: 14px;
	line-height: 26px;
}

.ycsite_pg_info  .c_label {
	height: 60px;
	border-bottom: solid 1px #f0ebeb;
	color: #614e44;
	font-size: 20px;
	line-height: 60px;
	text-indent: 25px;
}

.ycsite_pg_info  .c_label a {
	color: #614e44;
}

.ycsite_pg_info .c_sum {
	height: 75px;
	line-height: 30px;
	padding-top: 20px;
	color: #8d8682;
}

.ycsite_pg_info .c_sum ul li {
	width: 24%;
	text-align: center;
	border-right: solid 1px #e9e9e9;
}

.ycsite_pg_info .c_sum ul li.c_none {
	border-right: none;
}

.ycsite_pg_info .c_sum ul li span {
	color: #c18545;
	font-size: 18px;
	padding-left: 20px;
}

.ycsite_pa_box thead tr {
	background-color: #fdfdfd;
}

.ycsite_member_box .c_box {
	padding: 50px 70px 180px 70px;
}

.ycsite_member_box .c_label {
	border-bottom: solid 1px #ededec;
}

.ycsite_member_box .c_label .c_title {
	font-size: 20px;
	font-weight: bold;
	float: left;
	color: #2f2f30;
	padding-bottom: 10px;
	letter-spacing: 2px;
}

.ycsite_member_box .c_label .c_title a {
	color: #9b7145;
}

.ycsite_member_box .c_label .c_sub {
	float: right;
	padding-top: 10px;
	color: #89898a;
}

.ycsite_member_box .c_label .c_sub  a {
	color: #a17649;
	font-weight: bold;
}

.ycsite_member_box .c_form .c_small {
	color: #919191;
}

.ycsite_member_box .c_form {
	padding: 50px 300px 20px 200px;
}

.ycsite_member_box .c_form .control-label {
	color: #343841;
}

.ycsite_member_box .c_form .form-control {
	height: 40px;
}

.ycsite_member_box .c_form .btn-default {
	background-color: #bd9b77;
	color: #fff;
	border-radius: 0px;
}

.ycsite_user_left {
	background-color: #fafafa;
	border-bottom: solid 1px #f8f8f8;
	float: left;
	width: 220px;
	padding-bottom: 400px;
}

.ycsite_user_left .c_head {
	background-color: #bd9b77;
	height: 60px;
	color: #fff8f2;
	line-height: 60px;
	text-indent: 30px;
	font-size: 16px;
}

.ycsite_user_left .c_item {
	height: 60px;
	padding: 20px;
	border-bottom: solid 1px #f0f0f0;
}

.ycsite_user_left .c_item .c_left {
	height: 22px;
	width: 23px;
	float: left;
}

.ycsite_user_left .c_center {
	text-indent: 20px;
	width: 130px;
	font-size: 14px;
	float: left;
}

.ycsite_user_left .c_right {
	background-position: -200px -130px;
	width: 23px;
	height: 22px;
	float: left;
}

.ycsite_user_left .c_active {
	background-color: #fbf7f3;
	border-left: solid 1px #c19f7b;
}

.ycsite_user_left .c_num_0 .c_left {
	background-position: -200px -100px;
}

.ycsite_user_left .c_num_1 .c_left {
	background-position: -223px -100px;
}

.ycsite_user_left .c_num_2 .c_left {
	background-position: -251px -100px;
}

.ycsite_user_left .c_num_3 .c_left {
	background-position: -276px -100px;
}

.ycsite_user_right {
	float: left;
	width: 880px;
}

.ycsite_user_right .c_u_title {
	height: 60px;
	border-bottom: solid 1px #f5f5f5;
	color: #645f5b;
	text-indent: 50px;
	font-size: 16px;
	line-height: 60px;
}

.ycsite_user_right .c_form {
	padding: 50px 400px 0px 50px;
}

.ycsite_user_right .c_form .control-label {
	color: #645f5b;
	font-size: 14px;
}

.ycsite_member_table {
	padding: 35px;
}

.ycsite_member_table .yctop_table thead tr {
	border-top: solid 1px #e9e9e9;
}

.ycsite_sp_box_tab .c_box {
	position: relative;
	border-bottom: solid 1px #ededea;
	height: 50px;
}

.ycsite_sp_box_tab .c_tab {
	position: absolute;
	top: 0px;
	left: 0px;
}

.ycsite_sp_box_tab .c_tab .c_item {
	width: 180px;
	float: left;
	height: 50px;
	line-height: 50px;
	border-right: solid 1px #ededea;
	text-align: center;
	color: #505050;
	font-size: 16px;
}

.ycsite_sp_box_tab .c_tab .c_active {
	border-top: solid 3px #c19f7b;
	background-color: #fff;
	color: #b6844f;
}

.ycsite_sp_box_noresult {
	color: #662e2d;
	padding: 60px;
	text-align: center;
	border-bottom: solid 1px #e9e9e9;
	background-color: #fff;
}

.ycsite_sp_box_count {
	height: 100px;
	padding-top: 30px;
	line-height: 30px;
}

.ycsite_sp_box_count .c_s1 {
	font-size: 24px;
	color: #614e44;
	padding: 0px 20px 0px 20px;
}

.ycsite_sp_box_count .c_s2 {
	color: #b6844f;
	font-size: 14px;
}

.ycsite_sti_box_left {
	background-color: #fafafa;
	border-bottom: solid 1px #f8f8f8;
	float: left;
	width: 220px;
	padding-bottom: 500px;
}

.ycsite_sti_box_left .c_item {
	height: 60px;
	padding: 20px;
	border-bottom: solid 1px #f0f0f0;
}

.ycsite_sti_box_left .c_item .c_left {
	height: 22px;
	width: 23px;
	float: left;
}

.ycsite_sti_box_left .c_center {
	text-indent: 20px;
	width: 130px;
	font-size: 14px;
	float: left;
}

.ycsite_sti_box_left .c_right {
	background-position: -200px -130px;
	width: 23px;
	height: 22px;
	float: left;
}

.ycsite_sti_box_left .c_active {
	background-color: #fff;
	border-left: solid 3px #b09177;
}

.ycsite_sti_box_right {
	float: left;
	width: 880px;
}

.ycsite_sti_box_right .c_title {
	height: 60px;
	color: #645f5b;
	line-height: 60px;
	font-size: 16px;
	text-indent: 30px;
	font-weight: bold;
	border-bottom: solid 1px #f0f0f0;
}

.ycsite_sti_box_right .c_info {
	padding: 30px;
}