


@less_width_body:640px;

@less_height_header:88px;

@less_color_bg_header:#241a1b;
@less_color_bg_base:#f9f6f4;
@less_color_font_base:#4d4c4b;
@less_color_font_desc:#5f4e44;
.ym_b_img
{
    background-image:url('../mimg/ycwap.png');
}

.ym_t_pos_rel
{
	position:relative;
	
}
.ym_t_pos_abo
{
	position:absolute;
}

.ym_b_money
{
	
	color:#d94e3c;
}


.ym_b_button
{
	
	background-color:#c2a687;
			height:70px;
			color:#fff;
			line-height:70px;
			font-size:3rem;
			text-align:center;
	
}

.ym_b_form_box
{
	.ym_b_form_item
	{
		background-color:#fff;
		border-bottom:solid 1px #eeeded;
		height:90px;
		line-height:84px;
		font-size:2.8rem;
		
	}
	.ym_b_form_label
	{
		color:#3c3531;
		text-align:right;
		text-indent:20px;
		padding-right:20px;
	}
	
	.ym_b_form_detail
	{
	
		background-color:#fff;
		border-bottom:solid 1px #eeeded;
		padding:20px 30px;
		font-size:2.8rem;
	
	}
	
	
	
	
	
	.ym_b_form_detail_ico
	{
		.ym_b_img;
		display:inline-block;
		width:40px;
		height:40px;
		
	}
	.ym_b_form_detail_input
	{
		font-size:2.8rem;
		border:none;
		height:40px;
		
	}
	.ym_b_form_detail_wsp
	{
		display:inline-block;
		width:20px;
		height:40px;
		
	}
	
	.ym_b_form_detail_ibox
	{
		display:inline-block;
		height:40px;
	}
	
	
	
	.ym_b_form_input
	{
		height:86px;
		font-size:2.8rem;
		border:none;
	}
	.zw_page_upload_iframe{height:50px;min-width:400px}
	
	.control-upload
	{
		  float: right;
		  height: 90px;
		  overflow: hidden;
	}
	

	.control-upload ul li.control-upload-list-li{list-style-type:none;}
	.control-upload-list-li a{padding-right:10px}
	.control-upload ul li.control-upload-image-li
	{float:left;list-style-type:none;text-align:center;}
	.control-upload-image-div{border:solid 1px #217346;padding:5px}
	.control-upload_fix{height:40px}
	.control-upload-delete{padding-top:5px}
	.control-upload img{width:100px}
	
}

.ym_b_message
{
	
	.c_msg
	{
	
		color: #8a6d3b;
		background-color: #fcf8e3;
		border:solid 2px #faebcc;
		padding:20px;
		font-size:2.8rem;
	}
	
}


.ym_b_table
{
	width:100%;
	
	tr
	{
		height:80px;
		border-bottom:solid 1px #eeeded;
	}
	
	thead tr th
	{
		text-align:center;
		color:#afabaa;
		font-size:2.4rem;
	}
	
	tbody tr
	{
		background-color:#fff;
		color:#332d2a;
		font-size:2.8rem;
		
	}
	
	tbody tr td
	{
		padding:20px;
		border-right:solid 1px #eeeded;
	}
	
}



html {
	width:@less_width_body;
	height: 100%;
	font-size: 62.5%; /* 10��16=62.5% */
   
}




body {
	font-family: Microsoft Yahei;
    font-size: 1.2rem;
    background-color:@less_color_bg_base;
}
div 
{
	margin:0px;
	padding:0px;
}

.ym_layout_header
{

    height:@less_height_header;
    background-color:@less_color_bg_header;


    .c_box
    {
        
        height:100%;
        
        
        .c_full
        {
        
        	 .c_logo
		    {
		    	.ym_b_img;
		    	float:left;
		    	height:@less_height_header;
		    	width:200px;
		    	
		    }
		    
		    .c_back
		    {
		    	.ym_b_img;
		    	float:left;
		    	height:@less_height_header;
		    	width:100px;
		    	background-position:-300px 0px;
		    }
		    
		    
		    .c_title
		    {
		    	float:left;
		    	width:440px;
		    	text-align:center;
		    	color:#fff;
		    	padding-left:20px;
		    	font-size:3.4rem;
		    	line-height:@less_height_header;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
		    }
		    
		    .c_btn
		    {
		    	.ym_b_img;
		    	float:right;
		    	height:88px;
		    	width:@less_height_header;
		    	
		    }
		    
		    .c_option
    		{
    			background-position:-600px 0px;
    		}
    		.c_user
    		{
    			background-position:-500px 0px;
    		}
    		.c_search
    		{
    			background-position:-400px 0px;
    		}
		    
		    
		    
		    .c_active
		    {
		    	.ym_b_img;
		    	background-position:-700px 0px;
		    }
		    
		    
		    .c_search
		    {
		    
		    	padding:20px 10px;
		    }
		    
		    
        }
        
    }
    
    
    
   
    
    .c_menu
    {
    	.ym_t_pos_abo;
    	background-color:#f9f6f4;
    	top:86px;
    	width:270px;
    	min-height:300px;
    	z-index:999;
    	left:370px;
    	display:none;
    	
    	.c_item
    	{
    		height:@less_height_header;
    		padding-left:20px;
    		
    		.c_ico
    		{
    			float:left;
    			.ym_b_img;
    			width:80px;
    			height:@less_height_header;
    	
    		}
    		.c_text
    		{
    		  	line-height: 70px;
  				font-size: 2.6rem;
  				float:left;
    		}
    		
    		.c_i0
    		{
    			background-position:0px -200px;
    		}
    		.c_i1
    		{
    			background-position:-100px -200px;
    		}
    		.c_i2
    		{
    			background-position:-200px -200px;
    		}
    		.c_i3
    		{
    			background-position:-300px -200px;
    		}
    		.c_i4
    		{
    			background-position:-400px -200px;
    		}
    	}
    	
    }
    

}




.ym_index_main
{
    .c_box
    {
        min-height:750px;
        background-color:@less_color_bg_header;
    }
    img
        {
        width:100%;
        height:750px;
    }

}
.ym_index_nav
{
	.c_item
	{
		width:25%;
		float:left;
		.c_ico
		{
			 .ym_b_img;
	        	height:100px;
		}
	
		.c_i0
		{
			background-position:0px -100px;
		}
		.c_i1
		{
			background-position:-160px -100px;
		}
		.c_i2
		{
			background-position:-320px -100px;
		}
		.c_i3
		{
			background-position:-480px -100px;
		}
	
		.c_label
		{
			font-size:2.4rem;
		
			height:6rem;
			padding-top:1rem;
			text-align:center;
		}
	
	}
    


}




.ym_auli_main
{
	.c_item
	{
		.ym_t_pos_rel;
		
		.c_img
		{
			img
			{
				width:100%;
			}
		}
		
		.c_time
		{
			.ym_b_img;
			background-position:0px -300px;
			top:20px;
			width:200px;
			height:40px;
			.ym_t_pos_abo;
			color:#fff;
			line-height:40px;
			font-size:2.2rem;
			text-indent:40px;
		}
		
		
		.c_fix
		{
			.ym_t_pos_abo;
			top:20px;
			width:60px;
			height:32px;
			color:#fff;
			text-align:center;
			right:0px;
			font-size:1.8rem;
			line-height:30px;
			
		}
		.c_green
		{
			background-color:#bdd29d;
		}
		.c_red
		{
			background-color:#e67b6e;
		}
		
		
		
		.c_bottom
		{
			.ym_t_pos_abo;
			
			-moz-opacity: 0.5;
			-khtml-opacity: 0.5;
			opacity: 0.5;
			height:160px;
			width:100%;
			bottom:0px;
			background-color:#000;
			
		}
		
		
		.c_label
		{
			.ym_t_pos_abo;
			height:160px;
			width:100%;
			bottom:0px;
			color:#fff;
			padding:15px;
			.c_title
			{
				font-size:3.2rem;
				font-weight:bold;
			}
			.c_desc
			{
				font-size:2.4rem;
			}
		}
	
	}
	
	
	.c_border
	{
		height:5px;
		border-top:solid 1px #302b2c;
	}
	
	
	
}



.ym_goli_main
{
	
	.c_top
	{
		.ym_b_img;
			background-position:0px -400px;
			height:100px;
			overflow:hidden;
			font-size:3.6rem;
			line-height:100px;
			text-indent:30px;
	}
	
	.c_item
	{
	
		width:50%;
		float:Left;
		
		
		
		
		.c_one
		{
			
		}
		
		.c_detail
		{
			border-bottom:solid 1px #dcdcdc;
			border-right:solid 1px #dcdcdc;
			padding:12px;
			.c_img img
			{
				width:100%;
			}
			.c_title
			{
				color:#332d2a;
				font-size:2rem;
				line-height:40px;
			}
			
			.c_desc
			{
				color:#7f7a76;
				font-size:1.8rem;
				line-height:30px;
			}
		}
		
	}
	
}



.ym_goin_main
{
	.c_box
	{
		.c_img
		{
			img
			{
				width:100%;
			}
		}
		
		
		.c_show
		{
			padding:20px;
			background-color:#fff;
			
			.c_title
			{
				font-size:3.6rem;
			}
			
			.c_desc
			{
				color:@less_color_font_desc;
				font-size:2.8rem;
				line-height:40px;
				
			}
			
			.c_info
			{
			
				color:#3c3531;
				font-size:2.6rem;
			}
			
			
		}
		
		
		
	}
	
	
}


.ymwap_comment_info
{
	.yccomment_box_info
	{
		.yccomment_box_label
		{
			height:80px;
			padding-top:35px;
			font-size:3rem;
			line-height:30px;
		}
		
		.yccomment_box_deb
		{
			background-color:#fff;
			border-top:solid 1px #f1efef;
			border-bottom:solid 1px #f1efef;
		}
		
		.yccomment_box_tip
		{
			background-color:#8e9567;
			display:inline-block;
			width:20px;
			height:26px;
		}
		
		.yccomment_box_item
		{
			border-top:solid 1px #f2f2f2;
			padding:20px;
			font-size:2.6rem;
			line-height:35px;
			color:#3c3531;
			span
			{
				font-size:2rem;
				padding-left:60px;
				color:#999999;
			}
		}
		.yccomment_box_login_text
		{
			border-top:solid 1px #f2f2f2;
			padding:20px;
			font-size:2.6rem;
			line-height:35px;
		}
		
		.yccomment_box_add
		{
			border-top:solid 1px #f2f2f2;
			padding:20px;
			
			textarea
			{
				width:100%;
				height:100px;
			}
		}
		
		.yccomment_box_add_footer
		{
			.ym_b_button;
		}
		
	}
	
	
}



.ym_neli_main
{
	.c_item
	{
		.ym_t_pos_rel;
	}
	.c_img
	{
		img
		{
			width:100%;
		}
	}
	.c_bg
	{
		.ym_t_pos_abo;
	
			opacity: 0.3;
			height:40px;
			width:100%;
			bottom:0px;
			background-color:#000;
			
	}
	.c_title
	{
		.ym_t_pos_abo;
		
			width:100%;
			bottom:0px;
			color:#fff;
			height:40px;font-size:2rem;
			line-height:40px;
			text-align:center;
	}
	.c_split
	{
		height:5px;
	}
	
}



.ym_nein_main
{
	.c_box
	{
		padding:20px;
	}
	.c_desc
	{
		font-size:1.8rem;
	}
	.c_info
	{
		font-size:2.6rem;
	}
}




.ym_usce_main
{
	
	.c_item
	{
		padding:20px;
		background-color:#fff;
		border-bottom:solid 1px #e2e0de;
		border-top:solid 1px #e2e0de;
	}
	.c_user
	{
		float:left;
		.ym_b_img;
		background-position:-690px -100px;
		width:112px;
		height:112px;
		
	}
	
	.c_welcome
	{
		float:left;
		padding:20px;
		span
		{
			color:#614c3b;
			font-size:2.8rem;
		}
		color:#9c9083;
		font-size:2.2rem;
	}
	
	.c_ico
	{
		float:left;
		.ym_b_img;
		width:36px;
		height:36px;
		
	}
	.c_text
	{
		float:left;
		color:#211e1e;
		font-size:2.8rem;
		text-indent:20px;
		line-height:36px;
	}
	.c_to
	{
		float:right;
		color:#b7aea6;
		font-size:3.2rem;
		line-height:36px;
		font-weight:bold;
	}
	
	.c_i0
	{
		background-position:-700px -228px;
	}
	.c_i1
	{
		background-position:-764px -228px;
	}
	.c_i2
	{
		background-position:-700px -264px;
	}
	.c_i3
	{
		background-position:-764px -264px;
	}
	
	
	.c_btn
	{
		padding:20px;
	}
	
	
}



.ym_melo_main
{
	
	.c_login_top
	{
		
		.ym_b_img;
		background-position:0px -500px;
		height:268px;
		
	}
	
	.c_ba_top
	{
		
		.ym_b_img;
		background-position:0px -772px;
		height:128px;
		
		color:#6e6256;
		text-align:center;
		font-size:3.6rem;
		line-height:120px;
		
	}
	
	.c_bordertop
		{
			border-top:solid 1px #dddada;
		}
	
	
	.c_btn
	{
		padding:20px;
	}
	.c_item
	{
		border-top:solid 1px #dddada;
		padding:30px 40px;
		background-color:#fff;
		
		
		
		
		.c_ico
		{
			width:40px;
			height:40px;
			.ym_b_img;
			float:left;
		}
		
		.c_input
		{
			input
			{
				width:500px;
				height:40px;
				font-size:2.8rem;
				line-height:40px;
				text-indent:20px;
				border:0px;
			}
		}
		
		.c_i0
		{
			background-position:-500px -200px;
		}
		
		.c_i1
		{
			background-position:-560px -200px;
		}
		.c_i2
		{
			background-position:-500px -260px;
		}
		.c_i3
		{
			background-position:-560px -260px;
		}
	}
	
	.c_label
	{
		padding:20px;
		
		color:#8f8f95;
		font-size:2.4rem;
		
		.c_left
		{
			display:inline-block;
			a
			{
				color:#c99f71;
				font-size:2.4rem;
			}
		}
		
		.c_right
		{
			display:inline-block;
			float:right;
			a
			{
				color:#8f8f95;
				font-size:2.4rem;
			}
		}
	}
	
}



.ym_sepa_main
{
	
	.ym_sepa_tab
	{
		.c_tab
		{
			background-color:#f8f8f8;
			.c_item
			{
				width:50%;
				float:left;
				text-align:center;
				font-size:3rem;
				line-height:80px;
				border-bottom:solid 3px #afafaf;
			}
			.c_active
			{
				border-bottom:solid 3px #a88258;
				color:#a88258;
			}
			
			.c_bright
			{
				border-right:solid 1px #e5e5e5;
			}
			
		}
	
	
	}
	
	.ym_sepa_noresult
	{
		.c_no_box
		{
			
			.c_no_img
			{
				margin:150px 240px 30px 240px;
				.ym_b_img;
				background-position:-640px -400px;
				width:160px;
				height:200px;
			
			}
			.c_no_text
			{
				color:#bfbfbf;
				font-size:2.8rem;
				line-height:50px;
				text-align:center;
			}
		}
	}
	
	
	
}










.ym_peli_main
{
	
	.c_top
	{
		.ym_b_img;
			background-position:0px -400px;
			height:100px;
			overflow:hidden;
			font-size:3.6rem;
			line-height:100px;
			text-indent:30px;
	}
	
	.c_item
	{
	
		width:50%;
		float:Left;
		
		
		
		
		.c_one
		{
			
		}
		
		.c_detail
		{
			border-bottom:solid 1px #dcdcdc;
			border-right:solid 1px #dcdcdc;
			padding:12px;
			.c_img img
			{
				width:100%;
			}
			.c_title
			{
				color:#332d2a;
				font-size:2rem;
				line-height:40px;
			}
			
			.c_desc
			{
				color:#7f7a76;
				font-size:1.8rem;
				line-height:30px;
			}
		}
		
	}
	
}






.ym_usse_add
{
	
	.c_title
	{
		color:#7f7a76;
		font-size:2.8rem;
		padding:20px 0px 10px 20px;
		border-bottom:solid 1px #eeeded;
	}
	
	
	
}

.ym_usse_ok
{
	background-color:#fbfafa;
	.c_agree
	{
		 background-image:url('../mimg/usersend.png');
		 width:640px;
		 height:650px;
	}
	
}

.ym_usse_info
{
	
	color:#332d2a;
	
	.c_title
	{	background-color:#fff;
		font-size:3.4rem;
		padding:30px;
		border-bottom:solid 1px #f1efef;
	}
	.c_info
	{	background-color:#fff;
		font-size:2.8rem;
		border-bottom:solid 1px #f1efef;
		padding:30px;
		line-height:4rem;
	}
	
	.c_img
	{
		background-color:#fff;
		padding:30px;
		.c_label
		{
			
			font-size:2.8rem;
		}
		img
		{
			width:100%;
		}
	}
}

.ym_usse_set
{
		.c_i0
		{
			background-position:-500px -200px;
		}
		
		.c_i1
		{
			background-position:-560px -200px;
		}
		.c_i2
		{
			background-position:-500px -260px;
		}
		.c_i3
		{
			background-position:-560px -260px;
		}
		.c_i4
		{
			background-position:-500px -300px;
		}
	
}

.ym_usco_comment
{
	
	
	.c_item
	{
	background-color:#fff;
	border:solid 1px #eeeded;
	padding:20px;
	}
	
	.c_title
	{
		font-size:3rem;
		color:#332d2a;
		padding-bottom:20px;
		border-bottom:solid 1px #eeeded;
	}
	
	.c_info
	{
		padding-top:20px;
		color:#58504c;
		font-size:2.8rem;
	}
	
	.c_date
	{
		font-size:1.8rem;
		color:#a3a2a2;
	}
	
	
}

.ym_noli_main
{
	
	
	.c_item
	{
	background-color:#fff;
	border:solid 1px #eeeded;
	padding:20px;
	}
	
	.c_title
	{
		font-size:3rem;
		color:#332d2a;
		
		
	}
	
	.c_info
	{
		
		color:#58504c;
		font-size:2.8rem;
	}
	
	.c_date
	{
		font-size:1.8rem;
		color:#a3a2a2;
	}
	
	
}








.ym_peli_main
{
	
	
	
	.c_item
	{
	
		width:50%;
		float:Left;
		
		
		
		
		.c_one
		{
			
		}
		
		.c_detail
		{
			border-bottom:solid 1px #dcdcdc;
			border-right:solid 1px #dcdcdc;
			padding:12px;
			.c_img img
			{
				width:100%;
			}
			.c_title
			{
				color:#332d2a;
				font-size:2rem;
				line-height:40px;
			}
			
			.c_desc
			{
				color:#7f7a76;
				font-size:1.8rem;
				line-height:30px;
			}
		}
		
	}
	
}



